h1 {
  font-family: "Libre Baskerville", serif;
  color: white;
  text-transform: uppercase;
}

body {
  background-color: black;
  text-align: center;
}

p {
  color: white;
}

img {
  width: 100%;
  border: 5px solid white;
}

div {
  width: 50%;
  margin-left: 25%;
  margin-top: 30%;
}
